#bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}

body, ul {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background-color: rgba(73, 71, 71, 0.3); /* White with 70% opacity */
    border: 2px solid rgba(0, 0, 0, 0.2); /* Black border with 80% opacity */
    width: 450px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    width: 550px;
    text-align: center;
    font-size: 120px;
    color: aliceblue;
}

ul {
    list-style-type: none;
}

a, a:hover {
    text-decoration: none;
    color:aliceblue;
    transition: color 0.3s ease;
    font-size: x-large;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
    word-spacing: 2.5px;
}

a:hover{
    color: blue;
    transition: 0.3s ease;
}

li {
    margin-bottom: 10px;
}