body {
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #808080;  
    background-image: url('giphy2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
    color: #ffffff;  
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;     /* Align items to the start */
    background-color: rgba(128, 128, 128, 0.8); /* Transparent container background */
}

/* Header Styles */
.header {
    background-color: transparent;
    color: #ffffff;  
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

/* Section Styles */
.section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1); 
}

.section h2 {
    color: #ffffff;  
    border-bottom: 2px solid #ffffff;  
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.section ul, .section ol {
    padding: 0;
}

.section ul li, .section ol li {
    margin-bottom: 10px;
}

/* Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery h2 {
    border-bottom: 2px solid #ffffff;  
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;  
}

.gallery img {
    width: 200px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3); 
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Unique Styles */
div:first-of-type {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    text-align: center;
    color: #ffffff;  /* White text color */
}

div:nth-child(3) {
    border: 2px solid #ffffff;  /* White border */
    padding: 20px;
}
