body {
    background-image: url(background.jpg);
    background-size: cover;
}

.title, 
#name {
    border: 2px solid;
    text-align: center;
    font-style:italic;
    font-family:'Arial Narrow Bold';
}

img {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(189, 45, 122);
}

