#Name{
    background-image:url(./background.jpg);
    font-style:italic;
    font-family:'Arial Narrow Bold';
}

h2{
    border: 10px solid rgb(231, 87, 109);
    font-style:italic;
    font-family:'Arial Narrow Bold';
}

#Works{
    border: 10px solid rgb(231, 87, 109);
    font-style:italic;
    font-family:'Arial Narrow Bold';
}

#Testionials{
    border: 10px solid rgb(231, 87, 109);
}

#Gallery{
    border: 10px solid rgb(231, 87, 109);
    font-style:italic;
    font-family:'Arial Narrow Bold';
    background-color:antiquewhite;
}

