* {
    margin: 10px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(./background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #333;
}

.description, .requirement, .gallery {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.unordered {
    list-style: square;
}